body {
  background-color: beige;
  background-image: url('paint.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
a {
  color: magenta;
  text-decoration: none;
}
a:hover {
  color: black;
  font-weight: bolder;
}
p {
  font-family: arial;
  color: red;
}
p a {
  color: turquoise;
}
p a:hover {
  color: gray;
}
ul {
  list-style-type: upper-alpha;
  color: red
}
ol {
  color: red;
}

<!-- This is an ID tag -->
.customlist {
  color: purple;
}

<!-- This is a class tag -->
#maintitle {
  font-family: 'Assistant', sans-serif;
}
