body {
  background-color: #f4faff;
}

ul {
  font-family: 'Assistant', sans-serif;
}

#name {
  font-family: 'Assistant', sans-serif;
  font-size: 65px;
  color: 656573;
}

#name:hover {
  font-weight: lighter;
}

.subtitles {
  font-family: 'Assistant', sans-serif;
  font-size: 25px;
  color: #656573;
}

.musiclinks {
  color: 999;
  text-decoration: none;
}

.musiclinks:hover {
  font-weight: bold;
  color: #656573;
}

.media {
  filter: grayscale(100%);
}

.media:hover {
  filter: grayscale(0%);
}
