body {
  background-color: eef4f7;
}

p {
  font-family: 'Assistant', sans-serif;
}

h1 {

}

ul {

}

.titles {
  font-family: 'Assistant', sans-serif;
  font-size: 65px;
  color: 656573;
}

.subtitles {
  font-family: 'Assistant', sans-serif;
  font-size: 25px;
  color: 656573;
