body {
  background-color: eef4f7;
}

p {
  font-family: 'Assistant', sans-serif;
}


ul {

}

.titles {
  font-family: 'Assistant', sans-serif;
  font-size: 65px;
  color: 656573;
}

.subtitles {
  font-family: 'Assistant', sans-serif;
  font-size: 25px;
  color: 656573;
}

#musiclinks {
  color: black;
  text-decoration: none;
}

#musiclinks:hover {
  font-weight: bold;
}
