@media (max-width: 980px) {

  body {
    margin: 0;
    padding: 0:
  }

    .wrapper {
      display: block;
      background: white;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
      padding: 20px;
    }

  #title {
    color: gray;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  #subtitle {
    color: gray;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-size: 60px;
  }

    nav {
      display: block;
      background: black;
      font-family: 'Assistant', sans-serif;
    }

  nav:hover {
    display: block;
    background: gray;
    color: white;
    font-family: 'Assistant', sans-serif;
  }

    .navlinks {
      list-style-type: none;
    }

    .navlinks ul {
      padding-left: 0px;
      margin-left: 0;
      padding: 15px;
    }

    .navlinks li {
      display: block;
      text-align: center;
      font-size: 40px;
    }

    .navlinks a {
      text-decoration: none;
      color: white;
      display: inline-block;
      text-align: center;
      width: 100%;
    }

    .navlinks a:hover {
      text-decoration: none;
      display: inline-block;
      text-align: center;
    }

  .left {
    display: inline-block;
    background: gray;
    color: black;
    width: 100%;
    min-height: 100px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
  }

  .right {
    display: inline-block;
    width: 100%;
    background: #333333;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
  }

  .artwork {
    width: 100%;
  }

  p {
    color: black;
    font-family: 'Assistant', sans-serif;
    text-align: center;
  }

  .descriptor {
    text-align: justify;
  }

  .sources {
    color: white;
    text-align: justify;
  }

  .sources a {
    color: white;
    text-decoration: none;
  }

  .sources a:hover {
    color: gray;
  }

}
